<div class="row">
    <div class="col-2">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-10">
        <br><br>
        <div class="container d-flex justify-content-center">
            <h1>Welcome to <b>Application Health Check</b> Dashboard</h1>
        </div>
        <br>


        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card p-5">
                        <h1 class="display-4">Hello, There!</h1>
                        <p class="lead">Ready for a tour?, get ready to see all the <br>parameters that we monitor and
                            analyze.</p>
                        <hr class="my-4">
                        <p>Click Here to get Started ...</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" routerLink="/applicationSpecific"
                                role="button">Parameters</a>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-5">
                        <h1 class="display-4">Ok, Whats next!</h1>
                        <p class="lead">Ready for next, Want to check overview of<br> instance.</p>
                        <hr class="my-4">
                        <p>Click Here to get Started ...</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" routerLink="/systemOverview" role="button">System
                                Overview</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>