<div class="row">
    <div class="col-2">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-10">
        <br>
        <h2 class="text-center">System Overview</h2><br>

        <div class="row">
            <div class="col-md-4">
                <div class="card p-2">
                    <h5 class="card-title text-center">Instance Specifications</h5>

                    <table class="table table-striped">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Property</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Device name</th>
                                <td>MSI</td>
                            </tr>
                            <tr>
                                <th scope="row">Processor</th>
                                <td>Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz   2.60 GHz</td>
                            </tr>
                            <tr>
                                <th scope="row">Installed RAM</th>
                                <td>16.0 GB (15.8 GB usable)</td>
                            </tr>
                            <tr>
                                <th scope="row">Device ID</th>
                                <td>98A13085-0CA6-46CE-BFA9-36CBDA5A6041</td>
                            </tr>
                            <tr>
                                <th scope="row">System type</th>
                                <td>64-bit operating system, x64-based processor</td>
                            </tr>
                            <tr>
                                <th scope="row">Product ID</th>
                                <td>00327-35898-60252-AAOEM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>